<nav class="navbar">
	<ul class="navbar-list">
		<% if(currentUser) { %>
		<li class="navbar-list__item">Welcome <%= currentUser.full_name%>!</li>
		<li class="navbar-list__item"><a href="/membership">Become A Member</a></li>
		<li class="navbar-list__item"><a href="/admin">Become An Admin</a></li>
		<li class="navbar-list__item">
			<a href="/create-message">Create A New Message</a>
		</li>
		<li class="navbar-list__item"><a href="/logout">Log Out</a></li>
		<% } else { %>
		<li class="navbar-list__item"><a href="/login">Log In</a></li>
		<li class="navbar-list__item"><a href="/signup">Sign Up</a></li>
		<% } %>
	</ul>
</nav>
