<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head") %>
	<body>
		<%- include("./partials/nav") %> <% if (!currentUser) {%>
		<h2>Please Login!</h2>
		<% } else {%>
		<h1>Create Message</h1>
		<form method="POST" action="">
			<label for="title">Title</label>
			<input type="text" id="title" name="title" required />
			<label for="message">Message</label>
			<textarea
				id="message"
				name="message"
				placeholder="Message..."
				maxlength="100"
				rows="4"
				cols="50"
				required
			></textarea>
			<button type="submit">Submit</button>
		</form>

		<% if(errors) {%>
		<ul class="error-list">
			<% errors.forEach((error) => { %>
			<li class="error-list__item"><%=error.msg%></li>
			<% }); %>
		</ul>
		<% }} %>
	</body>
</html>
